<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <h2>{{session['clickadd']}} times</h2>
    <form action="/" class = "counter_form" method='post'>
        <button type="button" onclick="window.location.href='/destroy_session'">Reset </button>
        <button type="button" onclick="window.location.href='/addtwo'">Add two </button>

    </form>
</body>
</html>