*
    {
    font-family:Arial;
    }
h1
    {
        background-color: black;
        color:turquoise;
    }
h2
    {
        background-color:rgb(111, 43, 175);
        color:white;
        text-align: center;
        font-style: italic;
    }
h3
    {
        background-color:skyblue;
        text-align: right;
        text-decoration: underline;
    }

#my
    {
        color:white
    }
.body
{
    padding:5px
}