<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registration Page</title>
</head>
<body>
    <h1>Registration</h1>
    <div style="width:100px;">
        <form action="/register" method="post">
            <label>Name: <input type="text" name="user_name"></label>
            <label>Email: <input type="email" name="email"></label>
            <label>Password: <input type="password" name="password"></label>
            <label>Confirm PW: <input type="password" name="confirm_pw"></label>
            <input type="submit" value="Register">
        </form>
    </div>
    <h1>Login</h1>
    <div style="width:100px;">
        <form action="/login" method="post">
            <label>Email: <input type="email" name="email"></label>
            <label>Password: <input type="password" name="password"></label>
            <input type="submit" value="Login">
        </form>
    </div>



</body>
</html>